<nav>
  <ul>
    <li><a <%= link_to "profile", profile_path %></a></li>
    <li><a <%= link_to "picture", pic_path %></a></li>
    <li><a <%= link_to "portfolio", creden_path %></a></li>
    <li><a <%= link_to "Articles", hello_path %></a></li>
  </ul>
</nav>